body {
    margin: 0;
    padding: 0;
}

.page-header {
    min-height: 50px;
}

.header-logo-container {
    background-color: #e2497f;
    min-height: 50px;
}

.main-navigation-container {
    background-color: #ddf4ff;
    min-height: 50px;
}

@media screen and (min-width: 768px) {
    .page-header {
        display: flex;
    }

    .header-logo-container,
    .main-navigation-container {
        min-height: initial;
    }

    .header-logo-container {
        flex: 0 0 250px;
    }

    .main-navigation-container {
        flex: 1 0 400px;
    }
}